

.content{

}

/* Hình ảnh ở giữa màn hình và có text ở góc trái dưới của hình */
.first-content{
    position: relative;
    text-align: left;
    color: black;
    background-color: white;
    padding: 20px 400px 20px 400px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: none;
    color: red;
    font-size: 40px;
    padding: 0px 400px 0 400px;
}

/* Second content */

.second-content{
    border: solid red 2px;
    display: flex;
    justify-content: space-between;
    padding: 20px 400px 0 450px;
}

.second-content-right{
    padding-left: 30px;
}

