.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;
    font-size: 30px;
    border: black solid 1px;
    text-align: center;
}

/* Header Left */
a{
    text-decoration: none;
}
.nav_left {
    text-align: left;
    white-space: normal;
    
}

/* Header Right */

.nav_right {
    margin-right: 40px;
    word-spacing: 30px;
}